<div class="container" fade-in={duration:200}>
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Basic <span class="highlightLetter">Component</span></h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <p>In this demo, we show how to create a basic component with Ractive.</p>

            <p>Below is the component in action!</p>

            <simple message='I am a Component. You can click me!' hidden={{hidden}} feedback={{feedback}}/>

            <div class="bs-callout bs-callout-info" class-hidden="hidden" >{{feedback}}</div>

        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <p>Below we create the component:
            </p>

			<pre><code class="line-numbers language-markup"><script type="text/plain"><div on-click="activate()"> \{{message}} </div></script></code></pre>

            <pre><code  class="line-numbers language-js">import compTemplate from './compTemplate.html';

function createComponent() {

			 var comp = ractive.extend({
                template: compTemplate,
                activate: function() {
                    this.set( "hidden", false );
					this.set( "feedback", "Component clicked!" );
                }                
            });
};</code></pre>

            <p>To use the component in our view we declare it with the <span class="met">components</span> property under the <span class="var">name</span> we want
				to use in our markup. In this case we call our component <span class="var">simple</span>.</p>

			<pre><code  class="line-numbers language-js">function createView() {

    var comp = createComponent():

    var view = new template({
        components: {
            simple: comp
        }
    });
};
</code></pre>

			<p>Below we show how the component is used by the view:</p>

            <pre><code  class="line-numbers language-markup"><script type="text/plain"><simple message='I am a Component. You can click me!' hidden=\{{hidden}} feedback=\{{feedback}}/>

<!-- Below is a feedback panel on the view that is initially hidden, but the component 
will make it visible through mapped data. -->						
<div class-hidden="hidden" >\{{feedback}}</div></script></code></pre> 
			<p>We can <em>map data</em> from the view to the component through attributes when declaring the component.</p>
			<p>In the snippet above we map 3 values, <span class="var">message</span>, <span class="var">hidden</span> and <span class="var">feedback</span>.</p>
			
			<p>The <span class="var">message</span> is passed from the view to the component and displayed on the component through the
				<span class="var">\{{message}}</span> mustache.</p>
			
			<p>The <span class="var">hidden</span> variable is mapped to the component so when the component changes <span class="var">hidden</span> to true,
				the view' <span class="var">hidden</span> variable is updated as well, meaning the <span class="met">class-hidden</span> directive becomes
				false and the feedback box is displayed.
			<p>The <span class="var">feedback</span> variables that is mapped to the component allows the component to set the feedback message that the view
				will display.					
			</p>
        </div>
    </div>
</div>