<div class="container" fade-in={duration:1500}>
    <div class="row">

        <div class="col-md-12 animated bounceInLeft">

            <h1 style="padding-top:30px; padding-bottom:0px;"><span id="home-welcome" >Welcome to Journey</span> <span id="home-demo" class="animated highlightLetter invisible">Demos</span></h1>
            <p class="home-intro">Journey is a Javascript Router for mapping URLs to pages.
                Documentation is available <a href="https://github.com/journey-js/journey" class="link" target="_blank">here</a>.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="searchBox set1-color2 searchBoxLeft animated bounceInLeft home-box-top-left"  on-click='journey.goto("/basic")'>
                <div class="searchBoxIcon"><i class="fa fa-user fa-5x"></i>
                </div>
                <div class="searchBoxLarge">Basic</div>
                <div class="home-text headingSmaller">A basic view.</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="searchBox set1-color3 animated bounceInRight home-box-top-right" on-click='journey.goto("/validatingForm")'>
                <div class="searchBoxIcon"><i class="fa fa-users fa-5x"></i>
                </div>
                <div class="searchBoxLarge">Form</div>
                <div class="home-text headingSmaller">Basic form with validation.</div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="searchBox set1-color1 searchBoxLeft animated bounceInLeft home-box-bottom-left" on-click='journey.goto("/nav")'>
                <div class="searchBoxIcon"><i class="fa fa-paint-brush fa-5x"></i>
                </div>
                <div class="searchBoxLarge"> Navigation</div>
                <div class="home-text headingSmaller">Navigate between routes.</div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="searchBox set1-color4 animated bounceInRight home-box-bottom-right" on-click='journey.goto("/basicAjax")'>
                <div class="searchBoxIcon"><i class="fa fa-picture-o fa-5x"></i>
                </div>
                <div class="searchBoxLarge">Ajax</div>
                <div class="home-text headingSmaller">Fetch data asynchronously.</div>
            </div>

        </div>
    </div>

    <div class="row">  
        <div class="col-md-12"></div>

        <div class="animated bounceInUp" id="home-content">
            <p class="home-content">
                On the top of the page is a number of menus to navigate through the demos. 
            </p>
            <p class="home-content">
                Use the <strong>Show Javascript</strong> and <strong>Show Html</strong> menus to display the 
                source for the current view.
            </p>
        </div>
    </div>

</div>
