<div class="container" fade-in={duration:200}>
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Basic <span class="highlightLetter">Partial</span></h1>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Partials are template snippets that can be embedded into other templates. 
				Click <a href="https://ractive.js.org/tutorials/partials/" class="link" target='_blank'>here</a> for details.</p>

            <p>Below is an example partial                
            </p>

			{{>hello}} 

			<p>Here is the Javascript code:</p>
			<pre><code  class="line-numbers language-js"> import helloPartial from './partial.html';

let ractive = new Ractive({
	el: '#main',
	partials: {hello: helloPartial}
});</code></pre>
			
			<p>In <span class="ln">line 5</span> we add our <span class="met">helloPartial</span>
				to the property, <span class="var ">hello</span>.
			</p>

			<p>Next is the template which references the partial:</p>
			<pre><code  class="line-numbers language-markup"> \{{>hello}} 
</code></pre>
			<p>In <span class="ln">line 1</span> we use <span class="var">></span> character inside a <span class="met">mustache</span>
				to reference the <span class="var">hello</span> partial.
			</p>

			<p>And finally the actual partial:</p>

			<pre><code  class="line-numbers language-markup">&lt;h3 class="partial">
    Hi, I am a partial!
&lt;/h3>
</code></pre>

        </div>
    </div>
</div>
