<div class="container" fade-in={duration:1500}>
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Basic <span class="highlightLetter">Form</span></h1>
        </div>
    </div>

	<div class="row">
        <div class="col-md-12">
            <p class="home-intro">A basic form with two-way binding that displays the entered content when submitted.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-info" class-hidden="!submitted">
                <h4>Success!</h4>
                <p>Form submitted with the following values:</p>
				<pre> {{values}} </pre>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="well">

                <form autocomplete="off" novalidate>
                    <div class="form-group label-floating">
                        <label for="exampleInputEmail" class="control-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail" value="{{form.email}}">
                    </div>
                    <div class="form-group label-floating">
                        <label for="exampleInputPassword" class="control-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword" value="{{form.password}}">
                    </div>

					<div class="form-group">
						<label for="exampleInputFile">File input</label>
						<input type="file" id="exampleInputFile" value="{{form.file}}">
					</div>


                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="contactMe" checked="{{form.contactMe}}"> Should we contact you?</label>
                    </div>

                    <button type="submit" class="btn btn-raised btn-primary" on-click="@.submit()">Submit</button>
                    <button type="reset" class="btn btn-raised btn-default" on-click="@.resetData()">Reset</button>
                </form>
            </div>
        </div>

    </div>
</div>