<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Components <span class="highlightLetter">Data Flow</span></h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <p>This demo shows how data flows from a parent component to the child and back up.</p>
			
			<p>Let's see the example in action:</p>

						<div class="row">
							<div class="col-md-2">
								<table class='table'>
									<thead>
										<tr>

											<th>Name</th>
											<th>Age</th>                
											<th>Delete</th>  
										</tr>
									</thead>

									<tbody>
										{{#persons}}

									<child person="{{ this }}"/>


									{{/}}
									</tbody>
								</table>
							</div>
						</div>

						<div class="row">
							<div class="col-md-2">
								<button class="btn btn-success" on-click="@.addPerson({name: 'Random', age: 10})">Add row</button>
							</div>
						</div>			
			<p style="margin-top: 20px">The <span class="ln">parent</span> component renders an array of <span class="var">persons</span> in a table. 
				Each <span class="var">person</span> row is represented by a <span class="ln">child</span> component. The <span class="ln">parent</span> 
				passes a <span class="var">person</span> object to each child. See the snippet below how a <span class="var">person</span> is mapped to the child.
				The child can then access properties on the <span class="var">person</span> as <span class="met">\{{person.name}}</span> etc.
			</p>

			<pre><code class="line-numbers language-markup"> <script type="text/html"><child person="\{{ this }}"/></script>
</code></pre>

				<p> The child renders the person and a <span class="met">remove button</span>. When the <span class="met">remove button</span> is clicked, the child
					<span class="met">fires</span> an event that the parent can listen to.
				</p>

				<pre><code class="line-numbers language-markup"> <script type="text/html"><tr>
	<td>\{{person.name}}</td>
	<td>\{{person.age}}</td>
	<td>		
		<!-- fire an event to the parent with the person and index to remove -->
		<button class="btn btn-danger" on-click="@.fire( 'removePerson', person, @index)">Remove</button>
	</td>
</tr></script>
</code></pre>

					The parent listens to the <span class="met">removePerson</span> event and remove the given person:

					<pre><code class="line-numbers language-js"> let parent = new Ractive({
	on: { 'child.removePerson': function ( ctx, person, index ) {

			// Remove the person from the persons array
			this.splice( "persons", index, 1 );
		}
	}
});
</code></pre>
					</div>
				</div>
			</div>