<div class="container" fade-in={duration:200}>
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Multiple <span class="highlightLetter">Components</span></h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <p>This demo shows how to dynamically render components.</p>

            <p>We use <a href="https://ractive.js.org/api/#ractiveattachchild" target="_blank">ractive.attachChild</a> and 
				<a href="https://ractive.js.org/api/#ractivedetachchild" target="_blank">ractive.detachChild</a>
				to switch between the two components.
            </p>
            <p>Below are two components in action. Click the buttons to switch between the components.</p>

            <p>
                <#components />

            </p>

            <p>
				<button class="btn btn-success" on-click="@.swap('compA')">Render Component A</button>

				<button class="btn btn-danger" on-click="@.swap('compB')">Render Component B</button>
            </p>

        </div>
    </div>
</div>