<div class="container" fade-in={duration:1500}>
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Form <span class="highlightLetter">Validation</span></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>This form shows how to integrate form validation with <a href="http://parsleyjs.org/" target="_blank">Parsley</a>.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            {{#validationFail}}
            <div class="bs-callout bs-callout-warning" {{#doSlide}} slide-in-out="{duration:200}" {{/}}>
                <div>
                    <h4>Oh snap!</h4>
                    <p>This form seems to be invalid :(</p>
                </div>
            </div>
            {{/}} {{#validationSuccess}}
            <div class="bs-callout bs-callout-info" {{#doSlide}} slide-in-out="{duration:200}" {{/}}>
                <div>
                    <h4>Yay!</h4>
                    <p>Everything seems to be ok :)</p>
                </div>
            </div>
            {{/}}
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="well">
                <form name="form" novalidate>
                    <div class="form-group label-floating">
                        <label class="control-label" for="exampleInputEmail1">Name <span class="required">*</span></label>
                        <input type="text" name="name" class="form-control" placeholder="Name" id="name" required="">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="exampleInputEmail1">Email address</label>
                        <input type="text" name="email" class="form-control" id="exampleInputEmail1" data-parsley-type="email" placeholder="Email">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="password">Password <span class="required">*</span></label>
                        <input type="password" placeholder="Password" class="form-control" id="password" required="">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="confirmPassword">Confirm password <span class="required">*</span></label>
                        <input type="password" class="form-control" id="confirmPassword" data-parsley-equalto="#password" placeholder="Confirm Password"
                            data-parsley-equalto-message="Password confirmation must match the password." required="">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="chk"> Checkbox
                        </label>
                    </div>


                    <button type="submit" class="btn btn-primary" on-click="@.submit()">Submit</button>
                    <button type="reset" class="btn btn-default" on-click="@.resetData()">Reset</button>

                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                To use Parsley we need jQuery available. Then we can enable Parsley in our code as followw:
            </p>
            <em class="ln">validatingForm.js</em>:
            <pre><code class="line-numbers language-js">let view;
let parsley;

let route = {

    enter: function( route, prevRoute, options ) {
        view = route.view = new Ractive( {

            // We setup parsley in Ractive 'onrender' hook because the DOM is rendered at this stage
	        onrender: function () {
                setupParsley();
            }
        } );
    }
}

function setupParsley() {
    let options = {};
    parsley = $( 'form' ).parsley( options );

    parsley.on( 'form:validated', function ( form ) {

        var valid = form.isValid( );

        // We set two variables true or false depending on weather the form is valid or not.
        // In our template we then check these two variables to display an error or success messasge
        view.set('validationFailed', !valid);
        view.set('validationSucceeded', valid);

    });
}</code></pre>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <p>Below is a snippet of our template showing how we display an <em>error</em> or <em>success</em> message:</p>

            <em class="ln">validatingForm.html</em>:
            <pre><code class="line-numbers language-markup"><script type="text/plain">\{{#validationFail}}
    <div>
        <h4>Oh snap!</h4>
       <p>This form seems to be invalid :(</p>
    </div>
\{{/}} 
            
\{{#validationSuccess}}
    <div>
        <h4>Yay!</h4>
        <p>Everything seems to be ok :)</p>
    </div>
\{{/}}</script>
</code></pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <p>Parsley uses custom attributes on &lt;input%gt; fields to specify validation rules. Below is an example:</p>

            <em class="ln">validatingForm.html</em>:
            <pre><code class="line-numbers language-markup"><script type="text/plain">
<!-- We set 'novalidate' on form so HTML5 validations don't activate and override Parsley validations -->
<form name="form" novalidate> 

    <!-- -we can specify the html5 'required' attribute which Parsley will validate. Because we set 'novalidate' on form, 
    HTML validations won't activate. -->
    <input type="text" name="name" class="form-control" placeholder="Name" id="name" required="">


    <!-- data-parsley-type-email is an example Parsley validation. With the attribute Parsley will ensure the email is valid and
    display an error message if input is not valid email. -->
    <input type="text" name="email" data-parsley-type="email"> 

</form>
</script></code></pre>
        </div>
    </div>
</div>